body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background: url(./assets/images/blue-snow.png);
}
.current-city-div{
  position: relative;
}
.current-city-stats{
  background: rgba(0, 0, 0, 0.66);
  width: 75%;
  font-size: 1em;
  padding: .5em;
  color: white;
  text-shadow: 2px black;
  position: absolute;
  bottom: 0;
  margin-bottom: .5em;
  margin-left: .5em;
}
.img-size{
  width: 100%;
  max-height: 420px;
}
.icon-image{
  /* width: 100px;  */
  height: 100%; 
  overflow: hidden;
  margin: -10px 0px 0px;
}
.current-temp-display{
  font-size: xx-large;
  margin-left: -20px;
}
.bottom-stats-headerName{
  font-size: x-small;
}
.bg-dan{
  background: rgba(255, 0, 0, 0.6);
}
.bg-ora{
  background: rgba(255, 128, 0, 0.6);
}
.bg-war{
  background: rgba(251, 255, 0, 0.6);
}
.bg-vio{
  background: rgba(255, 0, 255, 0.6);
}
.bg-suc{
  color: white;
  background: rgba(61, 167, 45, 0.6);
}
.bg-search{
  background: rgba(0, 0, 0, 0.66);
}
.bg-nature{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  background: url(./assets/images/pedro-lastra-Nyvq2juw4_o-unsplash.jpg) black;
  background-position: center;
  border-bottom: 2px groove rgb(0, 14, 58);
}
#history-list{
  list-style-type: none;
}
.history-list-items{
  background: transparent;
}
.history-list-items:hover{
  background: #00000025;
}
.history-list-items:active{
  background: #ff000075;
}
#jumbo-custom{
  background: blue;
}
/* Width at 576px and below */
@media screen and (max-width: 576px) {
  /* .icon-image{
    height: 40px;
  } */
  .city-name{
    font-size: 1.5em;
  }
  .current-temp-display{
    font-size: x-large;
  }
  .icon-image{
    width: 60px; 
    height: 60px; 
    overflow: hidden;
    margin: -10px 0px 0px;
  }
  /* #history-div-header{
    background: blueviolet;
    visibility: hidden;
  }
  */
} 
  